{% extends "admin/layout.html" %}
{% block title %}Centros Ayuda GBA - Administracion - Usuarios{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block navbar %}

{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('admin.index') }}">Administracion</a></li>
    <li class="breadcrumb-item active" aria-current="Usuarios">Usuarios</li>
  </ol>
</nav>

<div class="container-fluid">
  <div class="row">
    <a class='m-auto' href="{{ url_for('admin.registrar_usuario') }}"> <button class="btn-success btn"><i class="fas fa-user-plus"></i>Nuevo usuario</button></a>
    <div class="search-box d-inline m-auto">
      <form action="{{ url_for('admin.buscar_por_nombre') }}" method="POST">
        <input type="search" placeholder='Buscar nombre...' name="buscar-nombre" id="name_search_box">
        <button class="btn btn-info btn-sm">Buscar</button>
      </form>
    </div>
    <div class="dropdown m-auto">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Ver
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{{ url_for('admin.listar_usuarios') }}">Todo</a>
        <a class="dropdown-item" href="{{ url_for('admin.usuarios_activos') }}">Activos</a>
        <a class="dropdown-item" href="{{ url_for('admin.usuarios_bloqueados') }}">Inactivos</a>
      </div>
    </div>
  </div>
  <table class="table table-sm table-hover table-light table-striped table-responsive-sm">
    <thead>
      <tr>
        <th scope="col">Rol</th>
        <th scope="col">Email</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      {% if user.active %}
      <tr>
        {% else %}
      <tr class="table-warning">
        {% endif %}
        <th scope="row">
          {% for role in user.roles %}
          {% if role.id == 1 %}
          <span class="badge badge-dark">{{ role.description }}</span><br>
          {% else %}
          <span class="badge badge-secondary">{{ role.description }}</span><br>
          {% endif %}
          {% endfor %} </th>
        <td>{{ user.email }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>
          <a href="#"><i class="fas fa-user-edit text-success" title="Editar"></i></a>
          {% if user.active %}
          <a href="{{ url_for('admin.activar_bloquear', id=user.id) }}"><i class="fas fa-user-slash text-secondary"
              title="Deshabilitar"></i></a>
          {% else %}
          <a href="{{ url_for('admin.activar_bloquear', id=user.id) }}"><i class="fas fa-user-slash text-warning"
              title="Habilitar"></i></a>
          {% endif %}
          <a href="#BORRAR"><i class="fas fa-trash-alt text-danger" title="Eliminar"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}